<template>
  <div class="bj_lol_champs_intro">
    <div class="champs_photo"><img :src="photoPath" :alt="champsName" /></div>
    <div class="main_write">
      <div class="champs_name">이름 : {{ champsName }}</div>
      <div class="release_date">출시일 : {{ releaseDate }}</div>
      <div class="champs_price">가격 : {{ champsPrice }}조각</div>
      <div class="champs_class">역할군 : {{ champsClass }}</div>
    </div>
  </div>
</template>

<script>
export default{
  props: {
    photoPath:
        {
          type:String,
          required:true
        },
    champsName:
        {
          type:String,
          required:true
        },
    releaseDate:
        {
          type:String,
          required:true
        },
    champsPrice:
        {
          type:Number,
          required:true
        },
    champsClass:
        {
          type:String,
          required:true
        }
  }

}
</script>