<template>
  <div class="main_page">
    <div class="main_logo"><img src="/images/League_of_Legends.png" alt="league_of_legend_logo" /></div>
    <section>
      <card-champ-info
        v-for="(item,index) in champs"
        v-bind:key="index"
        v-bind:champsClass="item.class"
        v-bind:champsPrice="item.price"
        v-bind:releaseDate="item.date"
        v-bind:champsName="item.name"
        v-bind:photoPath="item.photoPath"
        />
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      champs: [
        {
          photoPath: 'images/Garen.jpg',
          name: '가렌',
          date: '2010-04-27',
          price: 450,
          class: 'warrior'
        },
        {
          photoPath: 'images/Gangplank.jpg',
          name: '갱플랭크',
          date: '2009-08-19',
          price: 3150,
          class: 'warrior'
        },
        {
          photoPath: 'images/Darius.jpg',
          name: '다리우스',
          date: '2012-05-23',
          price: 450,
          class: 'warrior'
        },
        {
          photoPath: 'images/Gragas.jpg',
          name: '그라가스',
          date: '2010-02-02',
          price: 3150,
          class: 'warrior'
        },
        {
          photoPath: 'images/Graves.jpg',
          name: '그레이브즈',
          date: '2011-10-19',
          price: 4800,
          class: 'marksman'
        }
      ]
    }
  }
}
</script>